#see-careers-btn {
  border: 1px solid black;
  background-color: transparent;
  padding: 5px;
}
#see-careers-btn:hover {
  transition: 0.4s all ease-in-out;
  color: white !important;
  background-color: black;
}
#materials div {
  text-align: center;
  font-weight: 600;
}
#customers .carousel-item {
  text-align: center !important;
}
#customers .carousel-indicators {
  display: none;
}
#customers .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#customers img {
  width: 150px !important;
  height: 150px !important;
  border-radius: 100% !important;
}
q {
  font-style: italic;
}
#home-decor {
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#home-decor h5 {
  color: #98bb7c;
  font-style: italic;
}
