#checkout-form p {
  margin: 0;
}
#checkout-form input {
  width: 100%;
}
.order {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
}
.order input {
  height: fit-content;
  margin-right: 10px;
}
.order p {
  margin: 0;
}
